@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.board {
  width:400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  perspective: 1000px;
}

.card {
  /*perspective: 600px;*/
  margin: 5px;
  height: 90px;
  width: 90px;
  /*transform: rotateY(180deg);*/
  transform-style: preserve-3d;
  transition: transform 1s;
  backface-visibility: hidden
  overflow:auto;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.back {
  background-color: #ff0000;
  /*transform: rotateY(180deg);*/
}

.front {
  background-color: #0000ff;
  transform: rotateY(180deg);
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  line-height: 90px;
}

.back, .front {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.flipped {
  transform: rotateY(180deg);
}
